/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.navbar {
  background-color: #27235c;
}

#QuizCard{
  width:1000px;
  margin-left:25%;
  margin-top:3%;
  background-color:rgb(243, 238, 238);
}

#uploadbox{
  width:50%;
  height:150px;
  margin-left:20%;
  margin-top:5%;
}

#dropzone{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:300px;
  width:700px;
  margin-left:30%;
  margin-top:5%;
  border:2px dashed rgb(117,112,112);
  padding:20px;
}